/* TAILWIND CONFIGS */
@import 'tailwindcss';

@theme {
  --color-twitter-blue: #1da1f2;
  --text-color: rgba(255, 255, 255, 0.9);
}

@theme {
  --font-sevenseg: 'DSEG7 Classic', monospace;
}

/* Use this to unset all default breakpoints */
/* --breakpoint-*: initial; */
@theme {
  --breakpoint-xs: 30rem; /** ~480px. tw default sm = 40rem ~640px */
}

@import '@fontsource/dseg7-classic';

/* -- */

/* Some default styling - review this! */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* Prevent selection of text on mobile */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  @media (max-width: 20rem) {
    button {
      padding: 0.375rem 0.625rem; /* smaller padding for native app small window */
    }
  }
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* if trying to set font size based on container size instead of font size. */
/* .clock-container {
  width: clamp(100px, 90vw, 1080px);
  height: clamp(80px, 90vh, 540px);
  container-type: size; 
  container-name: clock;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213547;
}

.date-text {
  font-size: 25cqmin; 
  white-space: nowrap;
} */
